.domain-banner {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}

.preloader {
    width: 32px;
    height: 32px;
    background: url('/preloader.gif') no-repeat center center;
    margin: 30px auto;
}

.checkout-box {
    border-top: 1px solid #cccccc;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

.checkout-link {
    margin-bottom: 20px;
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
