.domain-banner {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}

.preloader {
    width: 32px;
    height: 32px;
    background: url('/preloader.gif') no-repeat center center;
    margin: 30px auto;
}

.checkout-box {
    border-top: 1px solid #cccccc;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

.checkout-link {
    margin-bottom: 20px;
}
@media (min-width: 980px){
    .well.domain-search{
        width: 800px;
        margin: auto;
    }
}
@media (max-width: 981px){
    input#domainName {
        margin-bottom: 20px;
    }
}