#my_products{
    margin-top: 20px;
}
#my_products .header-border {
    border: 1px solid #eaeaea;
    padding: 25px 30px;
}

#my_products .header-border div h2 {
    margin: 0;
}

#my_products .header-border .vl {
    display: block!important;
    margin-left: 0px;
    border-left: 2px solid #eaeaea;
    height: 45px;
    position: absolute;
    top: 20px;
    left: 225px;
    bottom: 0px;
}

#my_products .header-border h2, #my_products .header-border label {
    display: inline-block;
    margin-right: 35px!important;
}

#my_products .header-border label {
    font-size: 20px;
    font-weight: 400;
}
.no-padding{
    padding: 0px;
}

#my_products .purchased-list .table{
    min-width: 600px;
}
#my_products .purchased-list .table>thead>tr>th{
    border-bottom: 0px!important;
}
#my_products .purchased-list .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 0px!important;
}
#my_products .purchased-list .table thead tr .product-name{
    padding-left: 40px;
}
#my_products .purchased-list .table tbody tr .product-name img, #my_products .purchased-list .table tbody tr .product-name p{
    display: inline-block;
}
#my_products .purchased-list .table tbody tr{
    border: 1px solid #eaeaea;
    height: 70px;
}
#my_products .purchased-list .table tbody tr td{
    vertical-align:middle;
}
#my_products .purchased-list .table tbody tr td strong{
    cursor: pointer;
}
#my_products .purchased-list .table tbody tr .product-name{
    padding: 20px 0px 20px 40px;
}
td.product-name {
    width: 260px;
}
td.date-purchased {
    width: 120px;
}
td.date-expire {
    width: 95px;
}
td.amount {
    width: 70px;
}
td.actions {
    width: 75px;
}
td.actions .dropdown-menu :before {
    left: 90px!important;
}
@media (max-width: 498px){
    #my_products .header-border h2
    {
        font-size: 6.5vw;
        width: 100%;
    }
    #my_products .header-border .vl{
        display: none!important;
    }
    #my_products .header-border label {
        font-size: 3.5vw;
        font-weight: 400;
        margin: 0;
    }
}
@media (max-width: 600px){
    #my_products .purchased-list{
        overflow-x: auto;
    }
}
@media (max-width: 767px){
    #my_products
    {
        margin: 0px 20px;
    }
    #my_products .purchased-list .table thead tr .product-name {
        padding-left: 10px;
    }
}

@media (max-width: 991px){
    td.description {
        width: 80%;
    }
    #my_products .purchased-list .table thead tr .product-name {
        padding-left: 25px;
    }
}
@media (max-width: 1199px){
    #my_products .purchased-list .table tbody tr .product-name {
        padding: 20px 0px 20px 5px;
        text-align: center;
    }
    #my_products .purchased-list .table thead tr .product-name img{
        margin-bottom: 5px;
    }
}

