body {
  font-size: 120%;
}
.App-link {
  color: #5ACBF1;
  cursor: pointer;
}

.header {
  padding: 20px;
}

.logo-box {
  width: 48%;
  display: inline-block;
}

.header-panel {
  width:48%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.header .header-panel .dropdown{
  display: inline-block;
  margin-left: 10px;
}

.header .header-panel .dropdown img{
  height: 35px;
  cursor: pointer;
}
.header .header-panel .dropdown .dropdown-menu {
  left: -120px;
  margin: 10px 0 0;
  border-top: 4px solid #3F71D7!important;
}
.header .header-panel .dropdown .dropdown-menu li{
  margin: 10px 0px;
}
.header .header-panel .dropdown .dropdown-menu li a{
  cursor: pointer;
}
.header .header-panel .dropdown .dropdown-menu :before {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3F71D7;
  content: "";
  position: absolute;
  top: -12px;
  left: 115px;
  right: 0px;
  margin: auto;
}
.verify-sms {
  color: #5ACBF1;
  display: inline-block;
  margin: 0px 10px 0px;
  text-decoration: none;
  font-size: 100%;
}

.verify-sms:hover {
  text-decoration: none;
}

.shaded {
  margin-top: 10px;
  background-color: #efefef;
  padding:5px;
}

.cart-icon {
  font-size: 18px;
  display: inline-block;
  margin-top: 5px;
}

.badge {
  background-color: #990000;
}

.btn {
  margin-left: 10px;
}

.btn-color {
  background-color: #5ACBF1;
  border:1px solid #4eafd0;
  color: #FFFFFF;
}

.btn-cart {
  background-color: #2ca94f;
  color: #FFFFFF;
  font-weight: bold;
}

.btn-cart:hover {
  background-color: #35ca5e;
  color: #FFFFFF;
}

.nav-bar {
  background-color: #5ACBF1;
}

.main-link {
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
}

.main-link:hover {
  background-color: #efefef;
  color: #5ACBF1;
  text-decoration: none;
}

.footer {
  margin: 40px 0px;
  color:#666666;
  text-align: center;
  line-height: 2em;
}

.footer-img {
  width: 255px;
  height: 50px;
  margin: 80px auto 30px;
  background: url('/footer.png') no-repeat center center;
}

.banner {
  padding: 40px;
  background-color: #f7f7f7;
  color: #333333;
  margin: 0px 0px 40px 0px;
}

.banner-header {
  text-align: center;
}

.banner-p {
  text-align: center;
}

.step-container {
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.step-box {
  display: inline-block;
  width:20%;
  vertical-align: top;
}

.cl {
  clear: both;
}

.step-img {
  width: 55px;
  height: 55px;
  margin: 0px auto 10px;
}

.step-box p {
  text-align: center;
  color: #666666;
}

.p-blue {
  font-weight: bold;
}

.step-line {
  border-top: 1px solid #BABFBF;
  width: 75%;
  margin: 60px auto -30px;
}

.step-line2 {
  border-top: 1px solid #BABFBF;
  width: 40%;
  margin: 60px auto -30px;
}

.borderless td, .borderless th {
  border: none;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#first {
  background: url('/select.png') no-repeat center center;
}

#first-blue {
  background: url('/selectblue.png') no-repeat center center;
}

#second {
  background: url('/useraccount.png') no-repeat center center;
}

#second-blue {
  background: url('/useraccountblue.png') no-repeat center center;
}

#third {
  background: url('/review.png') no-repeat center center;
}

#third-blue {
  background: url('/reviewblue.png') no-repeat center center;
}

#fourth {
  background: url('/payment.png') no-repeat center center;
}

#fourth-blue {
  background: url('/paymentblue.png') no-repeat center center;
}

#fifth {
  background: url('/start.png') no-repeat center center;
}

#fifth-blue {
  background: url('/startblue.png') no-repeat center center;
}
